# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\IoT_Lift\flask_without_arduino\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
